@import '../sass/index.scss';
//@import '../sass/utilities';
@import '../sass/true';

@mixin repeat($iterations: 100) {
  @for $i from 1 through $iterations {
    @content;
  }
}

@include test-module('Utilities') {
  @include test('map-to-list() [function]') {
    $test: _rando-map-to-list((a: 1, b: (bb: 2 3), c:(d:(e:(f:(4))))));
    $expect: 1 (2 3) 4;
    @include assert-equal($test, $expect, 'Returns values in the map as a list');
  }
}


@include test-module('Randomize') {

  @include test('random-between() [function]') {
    @include repeat {

      $random: rando-between(1, 10);
      $test: $random <= 10 and $random >= 1;
      @include assert-true($test, 'Random number should be within the expected range');
    }
  }

  @include test('rando-decimal-between() [function]') {
    @include repeat {

      $random: rando-decimal-between(3.103, 3.192);
      $test: $random >= 3.103 and $random <= 3.192;
      @include assert-true($test, 'Random number should be within the expected range');
    }
  }

  @include test('rando-color() [function]') {
    @include repeat {

      $test: type-of(rando-color()) == 'color';
      @include assert-true($test, 'Rando-color should return a color');
    }
  }

  @include test('roll() [function]') {
    @include repeat {

      $random: rando-roll(1d6);
      $test: ($random >= 1) and ($random <= 6) and ($random % 1 == 0);
      @include assert-true($test, 'Rolling 1d6 should return an integer between 1 and 6');

      $random: rando-roll(2d6);
      $test: ($random >= 1) and ($random <= 12) and ($random % 1 == 0);
      @include assert-true($test, 'Rolling 1d6 should return an integer between 1 and 12');
    }
  }

  @include test('rando-shuffle [function]') {

    $list-original: A B C D E F G;
    $list-shuffled: rando-shuffle($list-original);
    $test: length($list-original) == length($list-shuffled);
    @include assert-true($test, 'Shuffling a list should return a list of equal length');
  }

}

@include report;