@import "normalize";
@import "randomize";

html, body {
	width: 100%;
	height: 100%;
}
* { box-sizing: border-box; }

section {
	width: 50%;
	height: 100%;
	margin: 0 auto;
	float: left;
	position: relative;
}

h1{
  position: absolute;
  margin: 0 auto;
  top: 5rem; left: 0; right: 0; bottom: 0;
  display: block;
  height: 40px;
  width: 320px;
  z-index: 3;
  text-align: center;
  background: white;
}
.text-container{
  position: absolute;
  left: 0; bottom: 0; right: 0;
  display: block;
  width: 500px;
  height: 200px;
  z-index: 3;
  text-align: center;
  background: white;
  p {
  	text-align: center;
  }
  a {
  	display: inline-block;
  	text-decoration: none;
  	color: black;
  	background: white;
  	border: 1px solid gray;
  	margin-top: .5rem;
  	padding: .75rem;
  	&:hover{
  		color: random-hex();
  	}
  	&:active {
  		color: white;
  		border: none;
  		background: random-hex();
  	}
  }
}

.shape-container {
  position: absolute;
  margin: 5rem auto 0 auto;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  height: 320px;
  width: 320px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

div {
      width: 80px;
      height: 80px;
      float: left;
}

.corner-tl { border-top-left-radius: 50%; }
.corner-tr { border-top-right-radius: 50%; }
.corner-bl { border-bottom-left-radius: 50%; }
.corner-br { border-bottom-right-radius: 50%; }

// Randomly generated styles

$timing-functions: ease, ease-in, ease-out, ease-in-out, linear;

 @each $div in a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p {
    div.#{$div} {
      
      @-webkit-keyframes anim-#{$div}{
        0% { background: random-rgba(); }
        33% { background: random-rgba(); }
        66% { background: random-rgba(); }
        100% { background: random-rgba(); }
      }
      @keyframes anim-#{$div}{
        0% { background: random-rgba(); }
        33% { background: random-rgba(); }
        66% { background: random-rgba(); }
        100% { background: random-rgba(); }
      }
      -webkit-animation: anim-#{$div} random-between(3, 7)+s random-value($timing-functions) infinite alternate;
      animation: anim-#{$div} random-between(3, 7)+s random-value($timing-functions) infinite alternate;
      &:hover {
        @-webkit-keyframes anim-h-#{$div} {
          0% { background: random-rgba(); }
          33% { background: random-rgba(); }
          66% { background: random-rgba(); }
          100% { background: random-rgba(); }
        }
        @keyframes anim-#{$div}{
	        0% { background: random-rgba(); }
	        33% { background: random-rgba(); }
	        66% { background: random-rgba(); }
	        100% { background: random-rgba(); }
      	}
        -webkit-animation: anim-h-#{$div} random-between(2, 5)+s random-value($timing-functions) infinite alternate;
      	animation: anim-h-#{$div} random-between(2, 5)+s random-value($timing-functions) infinite alternate;
      }
    }
  }
